<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">ASP.NET Web API</a>
            </p>
        </div>
    </div>
</header>
<div id="body">

    <h2>Multipart/form-data</h2>

    <section class="main-content clear-fix">

        <form name="form1" method="post" enctype="multipart/form-data" action="api/upload">
            <fieldset>
                <legend>File Upload Example</legend>
                <div>
                    <label for="FileName">File Name</label>
                    <input name="FileName" type="text" />
                </div>
            <div>
                <label for="file">zip/xliff File</label>
                <input name="file" type="file" />
            </div>
            <div>
                <input type="submit" value="Submit" />
            </div>
                </fieldset>
        </form>

       </section>
</div>
